table  {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-size: 18pt;
}
table thead th  { border-bottom: 1px solid #ddd; }
th , td  { padding: 5px; }
thead , tfoot , tr:nth-child(even)  { background: #eee }
