.cell-output-stdout pre code {
  background-color: #E8E8E8;
}

code span {
  color: #007BA5;
}

code.sourceCode > span {
  color: rgb(234, 234, 234);
}

div.sourceCode {
  background-color: #181818;
  color: #eaeaea;
  font-family: monospace;
}

.reveal pre.sourceCode code {
  background-color: #181818;
  color: #eaeaea;
}

code span.at {
  color: #7aa6da;
}

code span.ot {
  color: #007BA5;
}

code span.ss {
  color: #20794D;
}

code span.an {
  color: #5E5E5E;
}

code span.fu {
  color: #c397d8;
}

code span.st {
  color: #b9ca4a;
}

code span.cf {
  color: #007BA5;
}

code span.op {
  color: #5E5E5E;
}

code span.er {
  color: #AD0000;
}

code span.bn {
  color: #AD0000;
}

code span.al {
  color: #AD0000;
}

code span.va {
  color: #111111;
}

code span.pp {
  color: #AD0000;
}

code span.in {
  color: #5E5E5E;
}

code span.vs {
  color: #20794D;
}

code span.wa {
  color: #5E5E5E;
  font-style: italic;
}

code span.do {
  color: #5E5E5E;
  font-style: italic;
}

code span.ch {
  color: #20794D;
}

code span.dt {
  color: #AD0000;
}

code span.fl {
  color: #AD0000;
}

code span.co {
  color: #5E5E5E;
}

code span.cv {
  color: #5E5E5E;
  font-style: italic;
}

code span.cn {
  color: #8f5902;
}

code span.sc {
  color: #e78c45;
}

code span.dv {
  color: #d54e53;
}

code span.kw {
  color: #007BA5;
}
