<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- NOTE: add "navbar-inverse" class for an alternate navbar background -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand"  src='assets/monash-logo.png'>
      <a class="navbar-brand" href="index.html">ETC5512: Wild Caught Data</a>
      <div class="navbar-brand" style="color: #E6E6E6; font-size:0.8em;">2020 S1</div>
      <div class="navbar-brand d-none d-print-block" style="color: #E6E6E6; font-size:0.8em;">Copyright &copy; Monash University</div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="https://lms.monash.edu/course/view.php?id=63619"> <i class="fas fa-archive"></i> Moodle (assignments, quizzes, marks) </a></li>
        <li><a href="https://unitguidemanager.monash.edu/view?unitCode=ETC5512&tpCode=S1-01&tpYear=2020"><i class="fa fa-book"></i> Unit Guide</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->
