@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode-Light.woff2') format('woff2'),
    url("fonts/FiraCode-Light.woff") format("woff"),
    url('fonts/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode-Regular.woff2') format('woff2'),
    url("fonts/FiraCode-Regular.woff") format("woff"),
    url('fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode-Medium.woff2') format('woff2'),
    url("fonts/FiraCode-Medium.woff") format("woff"),
    url('fonts/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode-Bold.woff2') format('woff2'),
    url("fonts/FiraCode-Bold.woff") format("woff"),
    url('fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code VF';
  src: url('fonts/FiraCode-VF.woff2') format('woff2-variations'),
       url('fonts/FiraCode-VF.woff') format('woff-variations'),
       url('fonts/FiraCode-VF.ttf') format('truetype');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}

.remark-code, code {
  font-family: 'Fira Code', sans-serif;
  font-variant-ligatures: none;
  line-height: 1.5;
}
